# keil
*.o
*.d
*.s
*.rar
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
*.uvoptx
 
RTE/
Templates/
Examples/
DebugConfig/
 
!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf
!*.bin
!*.hex

#HAL
Drivers/

# FreeRTOS 特定配置和生成的日志文件
FreeRTOSConfig.h.bak
*.log

#其他
*.pdf
*.zip
RT-THread/
Target1/

#JLINK file
JLinkLog.txt
JLinkSettings.ini
*.dbgconf

