# keil
*.o
*.d
*.s
*.rar
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
*.uvoptx
 
# 文件夹
RTE/
Templates/
Examples/
DebugConfig/
 
!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf
!*.bin
!*.hex

# HAL
Drivers/

# FreeRTOS 特定配置和生成的日志文件
FreeRTOSConfig.h.bak
*.log


# JLINK file
JLinkLog.txt
JLinkSettings.ini
*.dbgconf

# 其他
*.pdf
*.zip
RT-THread/
FreeRtos/
Target1/
en.stsw-link004/
*.docx
